* {
  box-sizing: border-box;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.container--flex {
  display: flex;
  justify-content: center;
}

.grid-field {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 600px;
  height: 600px;
}

.grid-field__item {
  border: 1px solid black;
}
