* {
  box-sizing: border-box;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.container--flex {
  display: flex;
  justify-content: center;
}

.grid-field {
  display: flex;
  max-width: 256px;
  flex-wrap: wrap;
}

.item {
  border: 1px solid black;
  width: 16px;
  height: 16px;
}
